body {
    overflow-x: hidden;
  }
  
  #wrapper {
    padding-left: 0;
    padding-top: 55px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled {
    padding-right: 250px;
  }
  
  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    width: 100px;
  }
  
  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }
  
  #wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
  }
  
  .link-button{
    font-weight: bold;
    font-size:large;
    color: white;
  }

  .nav-item-right .nav-link{
    float: right;
  }

  
  
  /* Sidebar Styles */
  
  .sidebar-nav {
    position: absolute;
    top: 10px;
    width: 100px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .sidebar-nav .link-button {
    text-indent: 30px;
    line-height: 50px;
  }
  
  .sidebar-nav .link-button  {
    display: block;
    text-decoration: none;
    color: #fafafa;
  }
  
  .sidebar-nav .link-button:hover {
    text-decoration: none;
    color: rgb(245, 6, 6);
    background: rgba(14, 13, 13, 0.2);
  }
  
  .sidebar-nav .link-button:active, .sidebar-nav .link-button:focus {
    text-decoration: none;
    color: rgb(245, 6, 6);
  }
  
  .sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
  }
  
  .sidebar-nav>.sidebar-brand .link-button {
    color: #ffffff;
  }
  
  .sidebar-nav>.sidebar-brand .link-button:hover {
    color: rgb(247, 241, 241);
    background: none;
  }

  
  @media(min-width:768px) {
    #wrapper {
      padding-left: 0;
    }
    #wrapper.toggled {
      padding-right: 250px;
    }
    #sidebar-wrapper {
      width: 0;
    }
    #wrapper.toggled #sidebar-wrapper {
      width: 200px;
    }
    #page-content-wrapper {
      padding: 20px;
      position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
    }
  }
